<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.1.min.css">
		<link rel="stylesheet" href="main.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
		<script src="showdown.js" type="text/javascript"></script>
		<script src="editor.js" type="text/javascript"></script>
	</head>
	<body>
		
		<div class="container row">
		<div  class="form span12 row offset1 columns">
			<form action="/save" method="post" id="editor_form">
			<div class="textareaWrapper"><textarea id="textarea" placeholder="Write here..." name="content"><% if (index) { %>#Welcome to [:sitename], a fast way to write something!
###We have also _Markdown_ support, and you can use the preview or the 2/2 buttons to see your changes.

you can also save the text, and share the link... the text will be optimized to be **iper-readable**. :)

#Try it yourself... write something here!

###What is Markdown?
markdown is bla bla bla bla bla bla bla

###On what tecnologies is based this site?
This site is built in [node.js](http://nodejs.org/), and all the data is saved on [redis](http://redis.io). We are hosted by [heroku](http://heroku.com)!
<% }%></textarea></div>
			</form>
		</div>
		<div class="buttons span2 columns">
			<div id="show" class="btn side_btn">Preview</div>
			<div id="halfAndHalf" class="btn side_btn ">2/2</div>
			<div id="submit" class="primary btn side_btn">save</div>
		</div>
		
		<div class="clearfix"></div>
		<div class="span12 offset1 row">
			<div id="preview"></div>
		</div>
	</body>
</html>
